.shipments-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &--header {
    display: grid;
    gap: 10px;
    grid-template-columns: 25% 12% 12% auto 12% 8%;
    margin: 0 10px 15px 10px;
  }

  &--btn {
    border-radius: 7px;
    padding: 10px;
    background: rgb(239, 239, 239);
  }

  app-shipment-item:hover {
    background: #cecece;
  }

  &--empty-state {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
